canvas{
    width: 100%;
    height: 100%;
    background-color: gray;
}

body{
    padding-top: 1em;
    text-align: center;
}

#container{
    background-color: #919fb5;
    max-width: 100%;
    display: grid;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-areas: "top-one top-two top-three"
                        "left-center game right-center"
                        "bottom-one bottom-two bottom-three";
}

#top-one, #top-two, #top-three, 
#left-center, #game-container, #right-center, 
#bottom-one, #bottom-two, #bottom-three{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: rgb(142, 187, 199);
}
#top-one{
    grid-area: top-one;
}
#top-two{
    grid-area: top-two;
}
#top-three{
    grid-area: top-three;
}
#left-center{
    grid-area: left-center;
}
#game-container{
    grid-area: game;
}
#right-center{
    grid-area: right-center;
}
#bottom-one{
    grid-area: bottom-one;
}
#bottom-two{
    grid-area: bottom-two;
}
#bottom-three{
    grid-area: bottom-three;
}
