canvas{
    width: 40%;
    height: 40%;
    background-color: gray;
}
#game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: game;
}

container{
    display: grid;
    background-color: grey;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 20rem 20rem 20rem;
    grid-template-areas: "top-one top-two top-three"
                        "game game game"
                        "bottom-one bottom-two bottom-three";
}

#top-one{
    grid-area: top-one;
}
#top-three{
    grid-area: top-three;
}
#bottom-one{
    grid-area: bottom-one;
}
#bottom-three{
    grid-area: bottom-three;
}

#top-one, #top-three, #bottom-one, #bottom-three{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}